{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content_container">
    <div id="researchers_box">
      {% for researcher in researchers %}
      <div class="researcher_item">
        <p>{{ researcher.name | truncatewords:6 }}</p>
        <button class="smallBtn" @click="researcherModal({{researcher.id}})" >Detalhes</button>
        <button class="smallBtn">Editar</button>
      </div>
      {% endfor %}
    </div>
    <div id="edit_researchers">
      <form id="pesq_form" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class='smallBtn' type="submit" value="Salvar">
      </form>
    </div>
  </div>

  <researchModal :researcher_id="researcher_id" v-if="showModal" @close="showModal = false">
    <template v-slot:header>
      <h3>{{ researchers.researcher_id.name }}</h3>
      <p>[[researcher_id]]</p>
    </template>
  </researchModal>
{% endblock %}
