<script src="https://unpkg.com/vue@next"></script>
{% if items_json %}
<script type='text/javascript'>
  var people = {{ items_json|safe }};
</script>

<div id="app">
  [[message]]
  <ul>
    <li v-for="person in people">
      <a v-bind:href="person.url">[[person.name]]</a>
    </li>
  </ul>
</div>

<script>
  const App = {
    data(){
      return {
        message: "Certo",
        people: people,
      }
    },
    delimiters: [ '[[', ']]' ],

  }

  Vue.createApp(App).mount('#app')

</script>

{% else %}
    <p> No items available, and the message is [[message]]</p>
{% endif %}
